
header{
	background: blue;
	width: 100%;
	color: white;
	text-align: left;
}

h1{
	padding: 20px;
	margin-left: 100px;
}

#drunkdog{
	height: 250px;
	width:250px;
	border: solid gold 2px;
	float: left;
}

p{
	float: right;
	text-align: left justify;
}

.container1{
	width: 800px;
	margin: auto;
}

footer{
	text-align: center;
	width: 100%;
}